.wrapper
  = render partial: '/layouts/side_bar', locals: { groups: @groups }

  .chat-main
    .main-header
      %div(class="current-group" data-group-id="1")
        %h2.current-group__name
          = @group.name
        %ul.member-list
          Member：
          - @group.users.each do |user|
            %li.member-list__member
              = user.name
      - if params[:group_id]
        = link_to edit_group_path(params[:group_id]), data: {"turbolinks" => false} do
          .main-header__edit-btn Edit
    .messages
      = render @messages
    .form
      = form_for [@group, @message] do |f|
        .input-box
          = f.text_field :body, class: 'input-box__message', placeholder: 'type a message'
          .form__mask
            = f.label :image, class: 'form__mask__image' do
              = fa_icon 'picture-o', class: 'fa-image icon'
              = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'new_message__submit'